{% extends "layout.html" %}
{% block content %}
<div class="col d-flex flex-column align-items-center justify-content-center" >
    <h3>About</h3>
    <p class='about_text'     style='text-align: center;'> 
        D'Mammejongen ass eng Grupp vu Kollegen, déi et sech zu Häerz geholl huet Eventer zu Lëtzebuerg ze organiséieren, aner Eventer mam Verkaf vun Iessen an Gedrénks ze ënnerstëtzen an dobäi ëmmer fir gutt Stëmmung ze suergen. Mam Zil, fir sou vill wéi méiglech fir den gudden Zweck ze spenden, hoffe mir op Är Ënnerstëtzung.
		<br>
		<br>
	    D'Mammejongen, a circle of close friends who organise, promote and support events across Luxembourg by providing food and drinks in a great atmosphere. Our aim is to donate a significant part of the generated profit to charities.
		<br>
		<br>
	    D’Mammejongen est un groupe composé d’amis qui ont pour but, d’organiser des événements au Luxembourg, ainsi que de supporter d’autres événements avec la vente de nourritures et boissons, mais surtout pour y assurer une ambiance festive. L’objectif principal, étant la bonne cause, une partie des recettes sera reversée à des associations.
		<br>
		<br>
	    D'Mammejongen sind eine Gruppe von Freunden, die es sich zu Herzen genommen haben Veranstaltungen in Luxemburg zu organisieren, andere Veranstaltungen mit dem Verkauf von Essen und Getränken zu unterstützen und dabei immer für gute Stimmung zu sorgen. Ein Teil des Erlöses soll für einen guten Zweck gespendet werden. Mit dem Ziel, so viel wie möglich für einen guten Zweck zu spenden, hoffen wir auf ihre Unterstützung.
    
    </p>
{% endblock content %}
